%h1 All Movies
= form_tag movies_path(@query), :method => :post do
    %table#movies
        %thead
            %tr
                %th Index
                %th Movie Title
                %th Rating
                %th Release Date
                %th Add
        %tbody
            - @movies.each.with_index do |movie, index|
                %tr
                    %td= index #For counter movie table index
                    %td= movie['title']
                    %td= movie['rating']
                    %td= movie['release_date']
                    %td= link_to 'Add', movies_new_tmdb_path(movie["id"])
