%tr
    %td= movie_counter #For counter movie table index
    %td= movie.title
    %td= movie.rating
    %td= movie.release_date.strftime("%B %d, %Y")
    %td= link_to "More about #{movie.title}", movie_path(movie)
