%h2 Details about #{@movie.title}

%ul#details
    %li
        Rating:
        = @movie.rating
    %li
        Released on:
        - unless @movie.release_date.nil?
            = @movie.release_date.strftime("%B %d, %Y")
        - else
            = "None"
%h3 Description:

%p#description= @movie.description

%h3 Reviews:

%table#reviews
    %thead
        %tr
            %th User
            %th Score
            %th Comment
    %tbody
    - @movie.reviews.each do |review|
        %tr
            %td= review.moviegoer.name
            %td= review.potatoes
            %td= review.comments;
            -# -if @current_user == review.moviegoer
            -#     %td= link_to "Edit review", edit_movie_review_path(@movie, review)

#Link
    = link_to 'Back to movie list', movies_path
    = link_to 'Edit info', edit_movie_path(@movie)
    = link_to 'Delete Movie', movie_path(@movie), :method => :delete
    -@review = Review.find_by(:moviegoer => @current_user, :movie => @movie)
    -if @review
        = link_to "Edit your review", edit_movie_review_path(@movie, @review)
    -else
        = link_to 'Add your Review', new_movie_review_path(@movie)
